HELP.md

### API ###
api/target/
!api/.mvn/wrapper/maven-wrapper.jar
!api/src/main/**/target/
!api/src/test/**/target/


### FRONTEND ###
!frontend/angular-app/src/*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Vim ###
.swp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
