<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title th:text="${title}">TITLE</title>
</head>
<body class="d-flex flex-column min-vh-100 w-100">
    <div th:replace="fragments/header :: header"/>

    <div class="container-fluid w-50">
        <table class="table table-striped">
            <thead class="thead thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Date</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Time</th>
                    <th scope="col">Pace</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="workout: ${allWorkouts}">
                <th th:text="${workout.id}">1</th>
                <td th:text="${workout.date}">2000-01-01</td>
                <td th:text="${workout.distance + ' km'}">5.00 km</td>
                <td th:text="${workout.getFormattedTime()}">1h 25min </td>
                <td th:text="${workout.getFormattedPace() + ' min/km'}">6:10 /km</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/scripts :: scripts"/>
</body>
</html>